[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Project for learning GitHub
[access "refs/*"]
	owner = group user/uksong
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/uksong
	label-Verified = -1..+1 group user/uksong
	push = group user/uksong
	read = group user/uksong
	rebase = group user/uksong
	removeReviewer = group user/uksong
	submit = group user/uksong
[access "refs/heads/*"]
	create = group user/uksong
	push = +force group user/uksong
	pushMerge = group user/uksong
	read = group user/uksong
[access "refs/tags/*"]
	push = group user/uksong
	push = +force group user/uksong
